<!DOCTYPE html>
<html>
<head>  
  <meta charset="utf-8" />
  <title>登入頁面</title>
  <!--要使用css一定要在flask使用static資料夾，因為css為靜態資料，必須從static資料夾抓取-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='week4.css') }}" />
</head>
<body>
  <div class="container">
    
    <div class="information">歡迎光臨，請輸入帳號密碼</div>
    
      <form class="form" action="/signin/" method="POST">
        登入系統<br>
        
        <!--在form內加入input框，可以輸入數值，name＝"資料"，python就是從這抓取資料-->
        帳號 <input class="write" type="text" name="account" /><br>
        密碼 <input class="write" type="text" name="code" /><br>
        <button id="btn">登入</button>
      </form>
      
  </div>
</body>
</html>