body{
    margin:0;
    font-size: 20px;
}
.frame{
    display: flex;/*讓下一層次水平排列*/
    margin:5px;
}
.left{
    width:50%;
}
.right{
    display: flex;/*讓下一層次水平排列*/
    justify-content: flex-end;/*讓下一層次項目排列靠右，flex-start就是靠左*/
    width:50%;
}
.item{
    margin-right: 5px;
}
.ham{
    width:20px;
    height: 20px;
}
.welcome{
    display:flex;
    justify-content: center;/*水平置中*/
    align-items: center;/*此項為垂直置中，前面三項都打為將下一層次項目完美置中*/
    height:300px;
    background-color: bisque;;
}
.text{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
/* .center{
    margin:auto;
} 可加可不加*/
.container{
    display: flex;
    flex-wrap: wrap;/*使下一項目排序若超過容器寬度則自動換行*/
    justify-content: space-evenly;/*除了margin外，將剩餘空間平均分配*/
}
.pic{
    margin:10px 0px 10px 0px;
    background-color: cornflowerblue;
    width: 280px;

}
.scenery{
    float: left;
    width: 280px;
    height: 210.3px;
    object-fit: cover;
    
    
}
.caption{
    text-align: center;
    ;
}
@media(min-width:1200.1px){
    .ham{
        display: none;
    }
    /* .center{
        width:1200px;
        margin:auto;
    } 可加可不加*/
    .container{
        width:1200px;
        margin:auto;
    }
}
@media (max-width:1200px){
    .ham{
        display: none;
    }
    .container{
        width:90%;
        margin:auto;
    }
    .pic{
        width:45%;
    }
    .scenery{
        width:100%;
    }
}
@media (max-width:600px){
    .item{
        display: none;
    }
    .ham{
        display: block;
    }
    .pic{
        width:90%;
    }
    .scenery{
        width:100%;
    }
}